.wrapper {
  padding: 200px 0px;
}

div {
  text-align: center;
}

.grey {
  background-color: #eee;
}

p {
  margin: 0px;
  padding: 5px;
}

input[type="email"],
button,
a {
  margin-bottom: 5px;
}

input[type="text"] {
  width: 300px;
}

input,
select {
  border-top: 2px solid #484848;
  border-left: 2px solid #484848;
  border-right: 1px solid #e4e1dc;
  border-bottom: 1px solid #e4e1dc;
  box-shadow: 1px 1px white;
}

button {
  background: #d4d0c8;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
  padding: 2px 10px;
}
